In [4]:
import pandas as pd
import numpy as np

# Get Constituents from 2010

In [22]:
constituents = pd.read_csv("../../data/SP500_constituents.csv")
constituents = constituents[["PERMNO", "from", "thru"]]
constituents["from"] = pd.to_datetime(constituents["from"])
constituents["thru"] = pd.to_datetime(constituents["thru"])

constituents = constituents[constituents["thru"] >= "2010-01-01"]

constituents.info()
constituents.to_csv("sp500_constituents_2010.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
Index: 811 entries, 1 to 1321
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PERMNO  811 non-null    int64
 1   from    811 non-null    datetime64[ns]
 2   thru    811 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(1)
memory usage: 25.3 KB

In [23]:
constituents["PERMNO"].to_csv(
    "sp500_permnos_2010.csv",
    index=False,
)

# Process Price Data

In [6]:
prices = pd.read_csv("../../data/prices_data.csv")

In [8]:
prices.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3983889 entries, 0 to 3983888
Data columns (total 33 columns):
 #   Column          Dtype
---  ------          -----
 0   PERMNO          int64
 1   SecInfoStartDt  object
 2   SecInfoEndDt    object
 3   SecurityBegDt   object
 4   SecurityEndDt   object
 5   SecurityNm      object
 6   Ticker          object
 7   PERMCO          int64
 8   SICCD           int64
 9   NAICS           int64
 10  ICBIndustry     object
 11  YYYYMMDD        int64
 12  DlyCalDt        object
 13  DlyPrc          float64
 14  DlyPrcFlg       object
 15  DlyCap          float64
 16  DlyCapFlg       object
 17  DlyPrevPrc      float64
 18  DlyPrevPrcFlg   object
 19  DlyPrevDt       object
 20  DlyPrevCap      float64
 21  DlyPrevCapFlg   object
 22  DlyRetx         float64
 23  DlyVol          float64
 24  DlyClose        float64
 25  DlyLow          float64
 26  DlyHigh         float64
 27  DlyBid          float64
 28  DlyAsk          float64
 29  DlyOpen         float64
 30  DlyNumTrd       float64
 31  DlyPrcVol       float64
 32  ShrOut          float64
dtypes: float64(15), int64(5), object(13)
memory usage: 1003.0+ MB

In [10]:
prices.head()

,PERMNO,SecInfoStartDt,SecInfoEndDt,SecurityBegDt,SecurityEndDt,SecurityNm,Ticker,PERMCO,SICCD,NAICS,...,DlyVol,DlyClose,DlyLow,DlyHigh,DlyBid,DlyAsk,DlyOpen,DlyNumTrd,DlyPrcVol,ShrOut
0,10078,1986-05-13,2004-06-09,1986-03-04,2010-01-26,SUN MICROSYSTEMS INC; COM NONE; CONS,SUNW,8021,3570,0,...,15270527.0,76.500,74.500,79.375,76.4375,76.5000,79.2500,26427.0,1.168195e+09,1561106.0
1,10078,1986-05-13,2004-06-09,1986-03-04,2010-01-26,SUN MICROSYSTEMS INC; COM NONE; CONS,SUNW,8021,3570,0,...,21098710.0,71.750,71.500,75.250,71.7500,71.7500,73.4375,32108.0,1.513832e+09,1561106.0
2,10078,1986-05-13,2004-06-09,1986-03-04,2010-01-26,SUN MICROSYSTEMS INC; COM NONE; CONS,SUNW,8021,3570,0,...,30073258.0,71.875,66.625,73.500,71.8750,71.9375,70.1250,49741.0,2.161515e+09,1561106.0
3,10078,1986-05-13,2004-06-09,1986-03-04,2010-01-26,SUN MICROSYSTEMS INC; COM NONE; CONS,SUNW,8021,3570,0,...,22741999.0,68.000,67.000,71.875,68.0000,68.0000,70.4375,30663.0,1.546456e+09,1561106.0
4,10078,1986-05-13,2004-06-09,1986-03-04,2010-01-26,SUN MICROSYSTEMS INC; COM NONE; CONS,SUNW,8021,3570,0,...,20450260.0,71.875,66.750,72.000,71.8125,71.8750,67.1875,34162.0,1.469862e+09,1561106.0

In [12]:
prices["NAICS_2"] = prices["NAICS"].astype(str).str[:3].astype(int)

In [13]:
prices["PERMNO"].unique().shape

prices.isna().sum()

PERMNO                  0
SecInfoStartDt          0
SecInfoEndDt            0
SecurityBegDt           0
SecurityEndDt           0
SecurityNm              0
Ticker               1418
PERMCO                  0
SICCD                   0
NAICS                   0
ICBIndustry             0
YYYYMMDD                0
DlyCalDt                0
DlyPrc               1173
DlyPrcFlg               0
DlyCap               1473
DlyCapFlg               0
DlyPrevPrc           1440
DlyPrevPrcFlg        1173
DlyPrevDt            1440
DlyPrevCap           1440
DlyPrevCapFlg        1173
DlyRetx              1443
DlyVol               1474
DlyClose            14731
DlyLow              14731
DlyHigh             14731
DlyBid              57383
DlyAsk              57383
DlyOpen             19808
DlyNumTrd         2970055
DlyPrcVol            1475
ShrOut                300
NAICS_2                 0
dtype: int64

In [14]:
for i in ["SICCD", "NAICS", "ICBIndustry"]:
    print(prices[i].unique().shape)
    # print(pricesdata2[i].unique())

(469,)
(529,)
(12,)