In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import statsmodels.api as sm
from statsmodels.regression.rolling import RollingOLS

# Get Constituents from 2010

In [75]:
constituents = pd.read_csv("../../data/SP500_constituents.csv")
constituents = constituents[["PERMNO", "from", "thru"]]
constituents["from"] = pd.to_datetime(constituents["from"])
constituents["thru"] = pd.to_datetime(constituents["thru"])

constituents = constituents[constituents["thru"] >= "2010-01-01"]

constituents.info()
constituents.to_csv("sp500_constituents_2010.csv", index=False)

<class 'pandas.core.frame.DataFrame'>
Index: 811 entries, 1 to 1321
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   PERMNO  811 non-null    int64
 1   from    811 non-null    datetime64[ns]
 2   thru    811 non-null    datetime64[ns]
dtypes: datetime64[ns](2), int64(1)
memory usage: 25.3 KB

In [76]:
constituents["PERMNO"].to_csv(
    "sp500_permnos_2010.csv",
    index=False,
)

# Process Price Data

## Load Price Data & Basic Transformations

In [3]:
prices = pd.read_csv("../../data/prices_data.csv", parse_dates=["YYYYMMDD"])
prices: pd.DataFrame

prices = prices.drop(
    [
        "SecInfoStartDt",
        "SecInfoEndDt",
        "SecurityBegDt",
        "SecurityEndDt",
        "ICBIndustry",
        "SecurityNm",
        "DlyPrevCap",
        "DlyPrevCapFlg",
        "DlyPrevPrc",
        "DlyPrevPrcFlg",
        "DlyPrevDt",
    ],
    axis=1,
)

In [4]:
# renaming columns to sensible values
prices.rename(
    columns={
        "YYYYMMDD": "date",
        "PERMNO": "permno",
        "PERMCO": "permco",
        "Ticker": "ticker",
    },
    inplace=True,
)

In [5]:
prices.isna().sum()

permno             0
ticker          1418
permco             0
SICCD              0
NAICS              0
date               0
DlyCalDt           0
DlyPrc          1173
DlyPrcFlg          0
DlyCap          1473
DlyCapFlg          0
DlyRetx         1443
DlyVol          1474
DlyClose       14731
DlyLow         14731
DlyHigh        14731
DlyBid         57383
DlyAsk         57383
DlyOpen        19808
DlyNumTrd    2970055
DlyPrcVol       1475
ShrOut           300
dtype: int64

In [6]:
# there are some duplicate dates for the same permno, here I remove them from the df
prices = prices.drop_duplicates(subset=["permno", "date"])

# checking that there are no duplicates left
for permno in prices["permno"].unique():
    dates = prices[prices["permno"] == permno]["date"]

    if dates.shape[0] != dates.nunique():
        print(permno)
        print(dates)
        # prices[prices["permno"] == permno].to_excel('debug.xlsx')
        print(dates[dates.duplicated()])
        break

In [7]:
# calculating returns
prices.sort_values(["permno", "date"], inplace=True)
prices["return"] = prices["DlyPrc"].pct_change()
prices["vol_36mo"] = prices["return"].rolling(window=252 * 3).std()
prices["vol_252d"] = prices["return"].rolling(window=252).std()
prices["vol_126d"] = prices["return"].rolling(window=126).std()
prices["vol_21d"] = prices["return"].rolling(window=21).std()

# to make sure that the calculation does count different tickers (when the dataframe changes from one ticker to another)
mask = prices.permno != prices.permno.shift(1)
prices.loc[mask, "return"] = np.nan

C:\Users\andre\AppData\Local\Temp\ipykernel_26528\82406667.py:3: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  prices["return"] = prices["DlyPrc"].pct_change()

In [8]:
prices

,permno,ticker,permco,SICCD,NAICS,date,DlyCalDt,DlyPrc,DlyPrcFlg,DlyCap,...,DlyAsk,DlyOpen,DlyNumTrd,DlyPrcVol,ShrOut,return,vol_36mo,vol_252d,vol_126d,vol_21d
0,10078,SUNW,8021,3570,0,2000-01-03,2000-01-03,76.500,TR,1.194246e+08,...,76.5000,79.2500,26427.0,1.168195e+09,1561106.0,NaN,NaN,NaN,NaN,NaN
1,10078,SUNW,8021,3570,0,2000-01-04,2000-01-04,71.750,TR,1.120094e+08,...,71.7500,73.4375,32108.0,1.513832e+09,1561106.0,-0.062092,NaN,NaN,NaN,NaN
2,10078,SUNW,8021,3570,0,2000-01-05,2000-01-05,71.875,TR,1.122045e+08,...,71.9375,70.1250,49741.0,2.161515e+09,1561106.0,0.001742,NaN,NaN,NaN,NaN
3,10078,SUNW,8021,3570,0,2000-01-06,2000-01-06,68.000,TR,1.061552e+08,...,68.0000,70.4375,30663.0,1.546456e+09,1561106.0,-0.053913,NaN,NaN,NaN,NaN
4,10078,SUNW,8021,3570,0,2000-01-07,2000-01-07,71.875,TR,1.122045e+08,...,71.8750,67.1875,34162.0,1.469862e+09,1561106.0,0.056985,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3983884,93436,TSLA,53453,9999,336110,2023-12-22,2023-12-22,252.540,TR,8.028047e+08,...,252.5400,256.7600,972876.0,2.352373e+10,3178921.0,-0.007701,0.044308,0.035495,0.030185,0.020859
3983885,93436,TSLA,53453,9999,336110,2023-12-26,2023-12-26,256.610,TR,8.157429e+08,...,256.7100,254.4900,954492.0,2.224827e+10,3178921.0,0.016116,0.044308,0.035025,0.030031,0.021031
3983886,93436,TSLA,53453,9999,336110,2023-12-27,2023-12-27,261.440,TR,8.310971e+08,...,261.5600,258.3500,1046971.0,2.777820e+10,3178921.0,0.018822,0.044313,0.035013,0.030002,0.021262
3983887,93436,TSLA,53453,9999,336110,2023-12-28,2023-12-28,253.180,TR,8.048392e+08,...,253.1900,263.6600,1166971.0,2.867281e+10,3178921.0,-0.031594,0.044319,0.034286,0.030136,0.020625
3983888,93436,TSLA,53453,9999,336110,2023-12-29,2023-12-29,248.480,TR,7.898983e+08,...,248.4900,255.1000,1062240.0,2.492781e+10,3178921.0,-0.018564,0.044324,0.034266,0.030147,0.020932

In [9]:
# normalize returns dividing by volatility
VOLATILITY_WINDOW = 252
prices["vol_adjusted_return"] = prices["return"] / prices[f"vol_{VOLATILITY_WINDOW}d"]

In [10]:
prices.tail()

,permno,ticker,permco,SICCD,NAICS,date,DlyCalDt,DlyPrc,DlyPrcFlg,DlyCap,...,DlyOpen,DlyNumTrd,DlyPrcVol,ShrOut,return,vol_36mo,vol_252d,vol_126d,vol_21d,vol_adjusted_return
3983884,93436,TSLA,53453,9999,336110,2023-12-22,2023-12-22,252.54,TR,8.028047e+08,...,256.76,972876.0,2.352373e+10,3178921.0,-0.007701,0.044308,0.035495,0.030185,0.020859,-0.216973
3983885,93436,TSLA,53453,9999,336110,2023-12-26,2023-12-26,256.61,TR,8.157429e+08,...,254.49,954492.0,2.224827e+10,3178921.0,0.016116,0.044308,0.035025,0.030031,0.021031,0.460136
3983886,93436,TSLA,53453,9999,336110,2023-12-27,2023-12-27,261.44,TR,8.310971e+08,...,258.35,1046971.0,2.777820e+10,3178921.0,0.018822,0.044313,0.035013,0.030002,0.021262,0.537581
3983887,93436,TSLA,53453,9999,336110,2023-12-28,2023-12-28,253.18,TR,8.048392e+08,...,263.66,1166971.0,2.867281e+10,3178921.0,-0.031594,0.044319,0.034286,0.030136,0.020625,-0.921481
3983888,93436,TSLA,53453,9999,336110,2023-12-29,2023-12-29,248.48,TR,7.898983e+08,...,255.10,1062240.0,2.492781e+10,3178921.0,-0.018564,0.044324,0.034266,0.030147,0.020932,-0.541761

## Calculating Industry Specific Returns

In [11]:
prices.head()

,permno,ticker,permco,SICCD,NAICS,date,DlyCalDt,DlyPrc,DlyPrcFlg,DlyCap,...,DlyOpen,DlyNumTrd,DlyPrcVol,ShrOut,return,vol_36mo,vol_252d,vol_126d,vol_21d,vol_adjusted_return
0,10078,SUNW,8021,3570,0,2000-01-03,2000-01-03,76.500,TR,1.194246e+08,...,79.2500,26427.0,1.168195e+09,1561106.0,NaN,NaN,NaN,NaN,NaN,NaN
1,10078,SUNW,8021,3570,0,2000-01-04,2000-01-04,71.750,TR,1.120094e+08,...,73.4375,32108.0,1.513832e+09,1561106.0,-0.062092,NaN,NaN,NaN,NaN,NaN
2,10078,SUNW,8021,3570,0,2000-01-05,2000-01-05,71.875,TR,1.122045e+08,...,70.1250,49741.0,2.161515e+09,1561106.0,0.001742,NaN,NaN,NaN,NaN,NaN
3,10078,SUNW,8021,3570,0,2000-01-06,2000-01-06,68.000,TR,1.061552e+08,...,70.4375,30663.0,1.546456e+09,1561106.0,-0.053913,NaN,NaN,NaN,NaN,NaN
4,10078,SUNW,8021,3570,0,2000-01-07,2000-01-07,71.875,TR,1.122045e+08,...,67.1875,34162.0,1.469862e+09,1561106.0,0.056985,NaN,NaN,NaN,NaN,NaN

In [12]:
# define the part of the code to use - in this case 2 digits
DIGITS = 2

prices["NAICS"] = prices["NAICS"].replace(0, np.nan)  # replace 0s with NaNs
prices["naics_processed"] = prices["NAICS"]

mask = prices["naics_processed"].notna()
prices.loc[mask, "naics_processed"] = prices.loc[mask, "naics_processed"].apply(
    lambda x: float(str(x)[:DIGITS])
)
prices["naics_processed"].unique()

array([nan, 33., 51., 54., 22., 52., 42., 31., 32., 56., 44., 72., 62.,
       45., 55., 48., 21., 53., 81., 11., 23., 71., 61., 49., 92.])

In [13]:
# calculate industry returns

USE_VOL_ADJUSTED_RETURNS = True
return_col = (
    "vol_adjusted_return" if USE_VOL_ADJUSTED_RETURNS else "return"
)  # choose whether to use vol adjusted returns or not

# create df with dates as index and industry codes as columns
industry_returns_df = pd.DataFrame(
    columns=prices["naics_processed"].unique(), index=prices.date.unique()
)

# do not calculate mean when the code is NaN
# industry_returns_df.drop(np.nan, axis=1, inplace=True)

# for each industry code calculate the average industry return at each date
for industry_code in industry_returns_df.columns:
    if industry_code == np.nan:
        continue
    # print(f'calculating for industry code {industry_code}')

    # filter companies in the industry
    companies = prices[prices["naics_processed"] == industry_code]

    # groupby the date and calculate the weighted average return (market-cap weighted)
    industry_return = companies.groupby("date").apply(
        lambda x: np.average(x[return_col], weights=x["DlyCap"])
    )
    industry_returns_df.loc[industry_return.index, industry_code] = industry_return

industry_returns_df

C:\Users\andre\AppData\Local\Temp\ipykernel_26528\1793762166.py:26: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  industry_return = companies.groupby("date").apply(
C:\Users\andre\AppData\Local\Temp\ipykernel_26528\1793762166.py:26: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  industry_return = companies.groupby("date").apply(
C:\Users\andre\AppData\Local\Temp\ipykernel_26528\1793762166.py:26: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  industry_return = companies.groupby("date").apply(
C:\Users\andre\AppData\Local\Temp\ipykernel_26528\1793762166.py:26: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  industry_return = companies.groupby("date").apply(
C:\Users\andre\AppData\Local\Temp\ipykernel_26528\1793762166.py:26: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  industry_return = companies.groupby("date").apply(
C:\Users\andre\AppData\Local\Temp\ipykernel_26528\1793762166.py:26: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  industry_return = companies.groupby("date").apply(
C:\Users\andre\AppData\Local\Temp\ipykernel_26528\1793762166.py:26: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  industry_return = companies.groupby("date").apply(
C:\Users\andre\AppData\Local\Temp\ipykernel_26528\1793762166.py:26: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  industry_return = companies.groupby("date").apply(
C:\Users\andre\AppData\Local\Temp\ipykernel_26528\1793762166.py:26: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  industry_return = companies.groupby("date").apply(
C:\Users\andre\AppData\Local\Temp\ipykernel_26528\1793762166.py:26: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  industry_return = companies.groupby("date").apply(
C:\Users\andre\AppData\Local\Temp\ipykernel_26528\1793762166.py:26: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  industry_return = companies.groupby("date").apply(
C:\Users\andre\AppData\Local\Temp\ipykernel_26528\1793762166.py:26: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  industry_return = companies.groupby("date").apply(
C:\Users\andre\AppData\Local\Temp\ipykernel_26528\1793762166.py:26: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  industry_return = companies.groupby("date").apply(
C:\Users\andre\AppData\Local\Temp\ipykernel_26528\1793762166.py:26: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  industry_return = companies.groupby("date").apply(
C:\Users\andre\AppData\Local\Temp\ipykernel_26528\1793762166.py:26: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  industry_return = companies.groupby("date").apply(
C:\Users\andre\AppData\Local\Temp\ipykernel_26528\1793762166.py:26: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  industry_return = companies.groupby("date").apply(
C:\Users\andre\AppData\Local\Temp\ipykernel_26528\1793762166.py:26: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  industry_return = companies.groupby("date").apply(
C:\Users\andre\AppData\Local\Temp\ipykernel_26528\1793762166.py:26: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  industry_return = companies.groupby("date").apply(
C:\Users\andre\AppData\Local\Temp\ipykernel_26528\1793762166.py:26: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  industry_return = companies.groupby("date").apply(
C:\Users\andre\AppData\Local\Temp\ipykernel_26528\1793762166.py:26: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  industry_return = companies.groupby("date").apply(
C:\Users\andre\AppData\Local\Temp\ipykernel_26528\1793762166.py:26: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  industry_return = companies.groupby("date").apply(
C:\Users\andre\AppData\Local\Temp\ipykernel_26528\1793762166.py:26: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  industry_return = companies.groupby("date").apply(
C:\Users\andre\AppData\Local\Temp\ipykernel_26528\1793762166.py:26: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  industry_return = companies.groupby("date").apply(
C:\Users\andre\AppData\Local\Temp\ipykernel_26528\1793762166.py:26: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  industry_return = companies.groupby("date").apply(
C:\Users\andre\AppData\Local\Temp\ipykernel_26528\1793762166.py:26: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  industry_return = companies.groupby("date").apply(

,NaN,33.0,51.0,54.0,22.0,52.0,42.0,31.0,32.0,56.0,...,48.0,21.0,53.0,81.0,11.0,23.0,71.0,61.0,49.0,92.0
2000-01-03,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-06,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000-01-07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-12-22,NaN,0.002741,0.091709,0.360755,0.282013,0.195201,0.274217,-0.199422,0.451904,0.049808,...,0.292258,0.258227,0.07307,NaN,0.224427,0.04018,-0.197358,0.660273,0.324253,0.598981
2023-12-26,NaN,0.312875,0.047846,0.079546,0.452064,0.260824,0.259827,0.381924,0.179273,0.215332,...,0.256515,0.528816,0.489693,NaN,0.709837,0.30445,0.274026,0.299218,0.383878,0.154115
2023-12-27,NaN,0.104966,0.003933,-0.271957,-0.082728,0.17421,0.025324,0.175276,0.263092,0.064598,...,0.059942,-0.174847,0.22308,NaN,-0.02601,0.34479,-0.212496,0.100052,-0.206631,-0.045553
2023-12-28,NaN,-0.000643,0.157919,-0.034475,0.42022,0.229039,-0.192061,0.232939,-0.113856,0.343173,...,0.013811,-0.636582,0.247193,NaN,0.143162,-0.051601,0.562177,-0.297958,0.34585,0.068404
2023-12-29,NaN,-0.220328,-0.031225,-0.169624,-0.067572,-0.116639,0.117406,0.171762,0.01508,-0.071986,...,-0.461429,-0.192135,-0.680684,NaN,-0.221302,-0.053718,-0.306743,-0.154551,-0.192822,0.171187

In [14]:
# see how many NaN values are there in the industry returns
industry_returns_df.T.isna().sum()[industry_returns_df.T.isna().sum() > 4]

2000-01-03    25
2000-01-04    25
2000-01-05    25
2000-01-06    25
2000-01-07    25
              ..
2020-11-06     5
2020-11-17     5
2020-12-10     5
2020-12-15     5
2021-06-03     5
Length: 4090, dtype: int64

In [15]:
# calculate industry-relative returns

# map each datapoint to its industry return
for industry_code in industry_returns_df.columns.drop(np.nan):

    # create mask for the companies belonging to the industry
    mask = prices["naics_processed"] == industry_code

    # map the industry return to the companies at each date
    prices.loc[mask, "industry_return"] = prices.loc[mask, "date"].map(
        industry_returns_df[industry_code]
    )

    # DEBUG code: the industry return for a specific date should be the same for all companies belonging to the same industry
    # print(prices.loc[mask, ['date', 'naics_processed', 'ticker', 'industry_return']].sort_values('date'))

prices["industry_relative_return"] = (
    prices[return_col] - prices["industry_return"]
).astype(
    "float64"
)  # from above, use vol adjusted if USE_VOL_ADJUSTED_RETURNS is True

prices

,permno,ticker,permco,SICCD,NAICS,date,DlyCalDt,DlyPrc,DlyPrcFlg,DlyCap,...,ShrOut,return,vol_36mo,vol_252d,vol_126d,vol_21d,vol_adjusted_return,naics_processed,industry_return,industry_relative_return
0,10078,SUNW,8021,3570,NaN,2000-01-03,2000-01-03,76.500,TR,1.194246e+08,...,1561106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10078,SUNW,8021,3570,NaN,2000-01-04,2000-01-04,71.750,TR,1.120094e+08,...,1561106.0,-0.062092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10078,SUNW,8021,3570,NaN,2000-01-05,2000-01-05,71.875,TR,1.122045e+08,...,1561106.0,0.001742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10078,SUNW,8021,3570,NaN,2000-01-06,2000-01-06,68.000,TR,1.061552e+08,...,1561106.0,-0.053913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10078,SUNW,8021,3570,NaN,2000-01-07,2000-01-07,71.875,TR,1.122045e+08,...,1561106.0,0.056985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3983884,93436,TSLA,53453,9999,336110.0,2023-12-22,2023-12-22,252.540,TR,8.028047e+08,...,3178921.0,-0.007701,0.044308,0.035495,0.030185,0.020859,-0.216973,33.0,0.002741,-0.219714
3983885,93436,TSLA,53453,9999,336110.0,2023-12-26,2023-12-26,256.610,TR,8.157429e+08,...,3178921.0,0.016116,0.044308,0.035025,0.030031,0.021031,0.460136,33.0,0.312875,0.147261
3983886,93436,TSLA,53453,9999,336110.0,2023-12-27,2023-12-27,261.440,TR,8.310971e+08,...,3178921.0,0.018822,0.044313,0.035013,0.030002,0.021262,0.537581,33.0,0.104966,0.432614
3983887,93436,TSLA,53453,9999,336110.0,2023-12-28,2023-12-28,253.180,TR,8.048392e+08,...,3178921.0,-0.031594,0.044319,0.034286,0.030136,0.020625,-0.921481,33.0,-0.000643,-0.920838
3983888,93436,TSLA,53453,9999,336110.0,2023-12-29,2023-12-29,248.480,TR,7.898983e+08,...,3178921.0,-0.018564,0.044324,0.034266,0.030147,0.020932,-0.541761,33.0,-0.220328,-0.321434

In [16]:
# see correlation between columns
prices.dropna(subset=["industry_relative_return"]).drop(
    [
        "permno",
        "permco",
        "SICCD",
        "NAICS",
        "DlyCap",
        "ShrOut",
        "naics_processed",
        "ticker",
    ],
    axis=1,
).corr(numeric_only=True)

,DlyPrc,DlyRetx,DlyVol,DlyClose,DlyLow,DlyHigh,DlyBid,DlyAsk,DlyOpen,DlyNumTrd,DlyPrcVol,return,vol_36mo,vol_252d,vol_126d,vol_21d,vol_adjusted_return,industry_relative_return
DlyPrc,1.000000,0.000128,-0.011485,1.000000,0.999973,0.999972,0.999998,0.999976,0.999948,0.113792,0.027537,-0.000006,-0.001880,-0.001248,-0.001035,-0.000697,0.000918,0.001114
DlyRetx,0.000128,1.000000,0.008956,0.000140,0.000011,0.000008,0.000103,0.000106,-0.000113,-0.000533,0.009822,0.270645,0.000767,0.000494,0.001202,0.001702,0.850092,0.583418
DlyVol,-0.011485,0.008956,1.000000,-0.011521,-0.011521,-0.011515,-0.011475,-0.011476,-0.011517,0.757045,0.356478,0.003043,-0.005902,-0.001048,0.000354,0.002900,-0.005156,-0.000917
DlyClose,1.000000,0.000140,-0.011521,1.000000,0.999973,0.999972,0.999998,0.999976,0.999948,0.113456,0.027509,-0.000004,-0.001941,-0.001309,-0.001133,-0.000808,0.000921,0.001120
DlyLow,0.999973,0.000011,-0.011521,0.999973,1.000000,0.999958,0.999974,0.999950,0.999971,0.111984,0.027456,-0.000033,-0.001941,-0.001310,-0.001135,-0.000810,0.000723,0.000998
DlyHigh,0.999972,0.000008,-0.011515,0.999972,0.999958,1.000000,0.999971,0.999951,0.999975,0.115044,0.027571,-0.000033,-0.001941,-0.001308,-0.001132,-0.000806,0.000707,0.001005
DlyBid,0.999998,0.000103,-0.011475,0.999998,0.999974,0.999971,1.000000,0.999976,0.999948,0.113821,0.027546,-0.000011,-0.001883,-0.001251,-0.001040,-0.000696,0.000863,0.001042
DlyAsk,0.999976,0.000106,-0.011476,0.999976,0.999950,0.999951,0.999976,1.000000,0.999927,0.113753,0.027545,-0.000011,-0.001880,-0.001249,-0.001038,-0.000696,0.000863,0.001044
DlyOpen,0.999948,-0.000113,-0.011517,0.999948,0.999971,0.999975,0.999948,0.999927,1.000000,0.113678,0.027515,-0.000060,-0.001941,-0.001309,-0.001133,-0.000808,0.000525,0.000879
DlyNumTrd,0.113792,-0.000533,0.757045,0.113456,0.111984,0.115044,0.113821,0.113753,0.113678,1.000000,0.863182,-0.000695,0.019050,0.017073,0.014374,0.016186,-0.012347,-0.000914
DlyPrcVol,0.027537,0.009822,0.356478,0.027509,0.027456,0.027571,0.027546,0.027545,0.027515,0.863182,1.000000,0.001965,-0.008377,-0.004052,-0.002651,-0.000184,0.001004,0.004908
return,-0.000006,0.270645,0.003043,-0.000004,-0.000033,-0.000033,-0.000011,-0.000011,-0.000060,-0.000695,0.001965,1.000000,0.005937,0.010310,0.014666,0.036791,0.221847,0.168605
vol_36mo,-0.001880,0.000767,-0.005902,-0.001941,-0.001941,-0.001941,-0.001883,-0.001880,-0.001941,0.019050,-0.008377,0.005937,1.000000,0.575235,0.408318,0.161951,0.000250,-0.000194
vol_252d,-0.001248,0.000494,-0.001048,-0.001309,-0.001310,-0.001308,-0.001251,-0.001249,-0.001309,0.017073,-0.004052,0.010310,0.575235,1.000000,0.709707,0.281285,-0.000192,-0.000567
vol_126d,-0.001035,0.001202,0.000354,-0.001133,-0.001135,-0.001132,-0.001040,-0.001038,-0.001133,0.014374,-0.002651,0.014666,0.408318,0.709707,1.000000,0.396344,0.000014,-0.000288
vol_21d,-0.000697,0.001702,0.002900,-0.000808,-0.000810,-0.000806,-0.000696,-0.000696,-0.000808,0.016186,-0.000184,0.036791,0.161951,0.281285,0.396344,1.000000,0.000592,0.000404
vol_adjusted_return,0.000918,0.850092,-0.005156,0.000921,0.000723,0.000707,0.000863,0.000863,0.000525,-0.012347,0.001004,0.221847,0.000250,-0.000192,0.000014,0.000592,1.000000,0.698156
industry_relative_return,0.001114,0.583418,-0.000917,0.001120,0.000998,0.001005,0.001042,0.001044,0.000879,-0.000914,0.004908,0.168605,-0.000194,-0.000567,-0.000288,0.000404,0.698156,1.000000

# Fama-French Residual Returns

In [17]:
ff_data = pd.read_csv(
    "../../data/fama_french_5_factors.csv", parse_dates=["date"], date_format="%Y%m%d"
)

ff_data = ff_data.set_index("date").reindex(prices.date.unique())
ff_data

            Mkt-RF   SMB   HML   RMW   CMA     RF
date
2000-01-03   -0.71 -0.06 -1.41 -1.50 -0.64  0.021
2000-01-04   -4.06  0.33  2.06  0.47  1.45  0.021
2000-01-05   -0.09  0.33  0.16  0.41  1.11  0.021
2000-01-06   -0.73 -0.04  1.26  0.65  1.21  0.021
2000-01-07    3.21 -0.94 -1.42 -0.88 -0.96  0.021
...            ...   ...   ...   ...   ...    ...
2023-12-22    0.21  0.61  0.09 -0.64  0.19  0.021
2023-12-26    0.48  0.81  0.46 -0.34 -0.15  0.021
2023-12-27    0.16  0.16  0.12 -0.31 -0.14  0.021
2023-12-28   -0.01 -0.38  0.03 -0.32  0.15  0.021
2023-12-29   -0.43 -1.13 -0.37  0.68 -0.07  0.021

[6037 rows x 6 columns]

In [18]:
REGRESSION_WINDOW = 1 * 252  # in the paper 36months
MIN_OBS = 126


prices_filtered = prices[["permno", "date", "ticker", "return", "vol_36mo"]]


# prices_filtered.loc[:, "return"] *= 100  # convert to percentage


def perform_rolling_ols(permno):

    stock_data = prices_filtered[prices_filtered["permno"] == permno]

    if stock_data.shape[0] < REGRESSION_WINDOW:
        print("returning all NaNs")
        return None

    # print(stock_data)

    ff_factors = ff_data.reindex(stock_data["date"])

    data = stock_data.merge(ff_factors, left_on="date", right_index=True)

    endog = data["return"] - data["RF"]

    exog = sm.add_constant(data[["Mkt-RF", "SMB", "HML", "RMW", "CMA"]])

    rolling_ols = RollingOLS(
        endog, exog, window=REGRESSION_WINDOW, min_nobs=MIN_OBS, expanding=True
    )

    rres = rolling_ols.fit(params_only=True)

    # calculate pred values by multiplying the exog matrix with the params matrix

    # the correct predictions (the ones calculated using the factors and params at the same date) lie on the diagonal of the matrix

    # to get e we do y - the diagonal of the pred matrix

    pred: np.ndarray = (exog @ rres.params.T).to_numpy()

    e = endog - pred.diagonal()

    scaled_e = e / data["vol_36mo"]  # scale by volatility

    scaled_e.index = data["date"]

    return scaled_e

    # scale by volatility


prices["str_paper_residuals"] = np.nan


for permno in prices["permno"].unique():
    print(f"Regressing Permno {permno}")

    # print(prices.loc[mask, "str_paper_residuals"])

    scaled_e = perform_rolling_ols(permno)
    if scaled_e is None:
        continue

    # print("scaled_e")

    # print(scaled_e)

    mask = (prices["permno"] == permno) & (prices["date"].isin(scaled_e.index))

    # print(prices[mask].shape, scaled_e.shape)

    masked = prices[mask]

    # print(masked["date"].shape, masked["date"].nunique())

    prices.loc[mask, "str_paper_residuals"] = scaled_e

    # find out how to merge correctly in the main dataframe efficiently

    # prices.loc[mask, "str_paper_residuals"] = scaled_e

Regressing Permno 10078
Regressing Permno 10104
Regressing Permno 10107
Regressing Permno 10137
Regressing Permno 10138
Regressing Permno 10145
Regressing Permno 10147
Regressing Permno 10225
Regressing Permno 10299
Regressing Permno 10324
Regressing Permno 10516
Regressing Permno 10696
Regressing Permno 10909
Regressing Permno 11081
Regressing Permno 11308
Regressing Permno 11403
Regressing Permno 11404
Regressing Permno 11533
Regressing Permno 11552
Regressing Permno 11600
Regressing Permno 11618
Regressing Permno 11674
Regressing Permno 11703
Regressing Permno 11754
Regressing Permno 11762
Regressing Permno 11786
Regressing Permno 11850
Regressing Permno 11891
Regressing Permno 11896
Regressing Permno 11955
Regressing Permno 11976
Regressing Permno 12052
Regressing Permno 12060
Regressing Permno 12062
Regressing Permno 12067
Regressing Permno 12073
Regressing Permno 12076
Regressing Permno 12084
Regressing Permno 12140
Regressing Permno 12308
Regressing Permno 12345
Regressing Permno 12346
returning all NaNs
Regressing Permno 12369
Regressing Permno 12431
Regressing Permno 12448
Regressing Permno 12449
Regressing Permno 12456
Regressing Permno 12476
Regressing Permno 12490
Regressing Permno 12542
Regressing Permno 12558
Regressing Permno 12570
Regressing Permno 12622
Regressing Permno 12623
Regressing Permno 12650
Regressing Permno 12872
Regressing Permno 12981
Regressing Permno 13035
Regressing Permno 13103
Regressing Permno 13141
Regressing Permno 13142
Regressing Permno 13168
Regressing Permno 13210
Regressing Permno 13323
Regressing Permno 13356
Regressing Permno 13407
Regressing Permno 13447
Regressing Permno 13511
Regressing Permno 13567
Regressing Permno 13586
Regressing Permno 13598
Regressing Permno 13641
Regressing Permno 13688
Regressing Permno 13721
Regressing Permno 13760
Regressing Permno 13788
Regressing Permno 13856
Regressing Permno 13901
Regressing Permno 13911
Regressing Permno 13928
Regressing Permno 13936
Regressing Permno 13949
Regressing Permno 13963
Regressing Permno 13964
Regressing Permno 13983
Regressing Permno 14008
Regressing Permno 14011
Regressing Permno 14276
Regressing Permno 14277
Regressing Permno 14295
Regressing Permno 14297
Regressing Permno 14338
Regressing Permno 14541
Regressing Permno 14542
Regressing Permno 14579
Regressing Permno 14593
Regressing Permno 14601
Regressing Permno 14656
Regressing Permno 14702
Regressing Permno 14704
Regressing Permno 14714
Regressing Permno 14763
Regressing Permno 14776
Regressing Permno 14882
Regressing Permno 14889
Regressing Permno 14939
Regressing Permno 15069
Regressing Permno 15202
Regressing Permno 15272
Regressing Permno 15291
Regressing Permno 15401
returning all NaNs
Regressing Permno 15404
Regressing Permno 15408
Regressing Permno 15456
Regressing Permno 15488
Regressing Permno 15553
Regressing Permno 15560
Regressing Permno 15579
Regressing Permno 15707
Regressing Permno 15719
Regressing Permno 15720
Regressing Permno 15797
Regressing Permno 15850
Regressing Permno 15980
Regressing Permno 16044
Regressing Permno 16087
Regressing Permno 16267
Regressing Permno 16276
Regressing Permno 16279
Regressing Permno 16342
Regressing Permno 16343
Regressing Permno 16346
Regressing Permno 16347
Regressing Permno 16431
Regressing Permno 16432
Regressing Permno 16538
Regressing Permno 16544
Regressing Permno 16581
Regressing Permno 16600
Regressing Permno 16678
Regressing Permno 16692
Regressing Permno 16816
Regressing Permno 16851
Regressing Permno 17005
Regressing Permno 17144
Regressing Permno 17279
Regressing Permno 17307
Regressing Permno 17478
Regressing Permno 17676
Regressing Permno 17700
Regressing Permno 17743
Regressing Permno 17750
Regressing Permno 17778
Regressing Permno 17783
Regressing Permno 17830
Regressing Permno 17942
Regressing Permno 18065
Regressing Permno 18142
Regressing Permno 18143
Regressing Permno 18163
Regressing Permno 18267
Regressing Permno 18312
Regressing Permno 18327
Regressing Permno 18403
Regressing Permno 18411
Regressing Permno 18420
Regressing Permno 18421
Regressing Permno 18428
Regressing Permno 18542
Regressing Permno 18576
Regressing Permno 18578
Regressing Permno 18592
Regressing Permno 18724
Regressing Permno 18729
Regressing Permno 19166
Regressing Permno 19285
Regressing Permno 19286
Regressing Permno 19350
Regressing Permno 19393
Regressing Permno 19502
Regressing Permno 19561
Regressing Permno 19583
Regressing Permno 19596
Regressing Permno 19661
Regressing Permno 19662
Regressing Permno 19752
Regressing Permno 19807
Regressing Permno 19852
Regressing Permno 20057
Regressing Permno 20190
Regressing Permno 20191
Regressing Permno 20220
Regressing Permno 20415
Regressing Permno 20482
Regressing Permno 20583
Regressing Permno 20626
Regressing Permno 21020
Regressing Permno 21124
Regressing Permno 21178
Regressing Permno 21186
Regressing Permno 21207
Regressing Permno 21371
Regressing Permno 21573
Regressing Permno 21776
Regressing Permno 21792
Regressing Permno 21936
Regressing Permno 21979
Regressing Permno 22103
Regressing Permno 22111
Regressing Permno 22293
Regressing Permno 22509
Regressing Permno 22517
Regressing Permno 22592
Regressing Permno 22623
Regressing Permno 22752
Regressing Permno 22779
Regressing Permno 22840
Regressing Permno 22928
Regressing Permno 22976
Regressing Permno 23026
Regressing Permno 23077
Regressing Permno 23085
Regressing Permno 23114
Regressing Permno 23229
Regressing Permno 23344
Regressing Permno 23393
Regressing Permno 23473
Regressing Permno 23501
Regressing Permno 23536
Regressing Permno 23569
Regressing Permno 23570
returning all NaNs
Regressing Permno 23579
Regressing Permno 23660
Regressing Permno 23712
Regressing Permno 23819
Regressing Permno 23876
returning all NaNs
Regressing Permno 23887
Regressing Permno 23931
Regressing Permno 23942
returning all NaNs
Regressing Permno 23944
returning all NaNs
Regressing Permno 24010
Regressing Permno 24053
Regressing Permno 24109
Regressing Permno 24174
returning all NaNs
Regressing Permno 24175
returning all NaNs
Regressing Permno 24205
Regressing Permno 24221
Regressing Permno 24328
Regressing Permno 24459
Regressing Permno 24643
Regressing Permno 24766
Regressing Permno 24942
Regressing Permno 24985
Regressing Permno 25081
Regressing Permno 25099
Regressing Permno 25232
Regressing Permno 25320
Regressing Permno 25419
Regressing Permno 25582
Regressing Permno 25778
Regressing Permno 25785
Regressing Permno 25953
Regressing Permno 26112
Regressing Permno 26382
Regressing Permno 26403
Regressing Permno 26710
Regressing Permno 26825
Regressing Permno 27043
Regressing Permno 27422
Regressing Permno 27633
Regressing Permno 27756
Regressing Permno 27828
Regressing Permno 27887
Regressing Permno 27959
Regressing Permno 27983
Regressing Permno 27991
Regressing Permno 28222
Regressing Permno 28345
Regressing Permno 28388
Regressing Permno 28484
Regressing Permno 28804
Regressing Permno 29102
Regressing Permno 29938
Regressing Permno 29946
Regressing Permno 30681
Regressing Permno 30940
Regressing Permno 32707
Regressing Permno 32803
Regressing Permno 32870
Regressing Permno 32934
Regressing Permno 32942
Regressing Permno 32986
Regressing Permno 34032
Regressing Permno 34746
Regressing Permno 34817
Regressing Permno 34833
Regressing Permno 35044
Regressing Permno 35051
Regressing Permno 35554
Regressing Permno 36003
Regressing Permno 36397
Regressing Permno 36468
Regressing Permno 37161
Regressing Permno 37284
Regressing Permno 37584
Regressing Permno 38093
Regressing Permno 38156
Regressing Permno 38682
Regressing Permno 38703
Regressing Permno 38762
Regressing Permno 39087
Regressing Permno 39490
Regressing Permno 39538
Regressing Permno 39642
Regressing Permno 39917
Regressing Permno 40125
Regressing Permno 40272
Regressing Permno 40416
Regressing Permno 40539
Regressing Permno 41080
Regressing Permno 41355
Regressing Permno 42200
Regressing Permno 42534
Regressing Permno 42585
Regressing Permno 42796
Regressing Permno 42877
Regressing Permno 42906
Regressing Permno 43123
Regressing Permno 43350
Regressing Permno 43449
Regressing Permno 43553
Regressing Permno 43772
Regressing Permno 44206
Regressing Permno 44329
Regressing Permno 44601
Regressing Permno 44644
Regressing Permno 44951

KeyboardInterrupt:

In [ ]:
prices[prices["a"] == 12346]

,permno,ticker,permco,SICCD,NAICS,date,DlyCalDt,DlyPrc,DlyPrcFlg,DlyCap,...,DlyNumTrd,DlyPrcVol,ShrOut,return,vol_36mo,vol_252d,vol_126d,vol_21d,vol_adjusted_return,str_paper_residuals
203169,12346.0,LYB,53531.0,2821.0,325211.0,2010-10-14,2010-10-14,27.07,TR,5868018.04,...,NaN,20085940.0,216772.0,NaN,0.032073,0.047258,0.064950,0.156372,NaN,NaN
203170,12346.0,LYB,53531.0,2821.0,325211.0,2010-10-15,2010-10-15,26.66,TR,5779141.52,...,NaN,15884028.0,216772.0,-0.015146,0.032070,0.047264,0.064926,0.156192,-0.320451,NaN
203171,12346.0,LYB,53531.0,2821.0,325211.0,2010-10-18,2010-10-18,26.75,TR,5798651.00,...,NaN,11890375.0,216772.0,0.003376,0.032070,0.047258,0.064930,0.156359,0.071435,NaN
203172,12346.0,LYB,53531.0,2821.0,325211.0,2010-10-19,2010-10-19,26.46,TR,5735787.12,...,NaN,22451310.0,216772.0,-0.010841,0.032059,0.047234,0.064908,0.156378,-0.229519,NaN
203173,12346.0,LYB,53531.0,2821.0,325211.0,2010-10-20,2010-10-20,27.09,TR,5872353.48,...,NaN,38351313.0,216772.0,0.023810,0.032046,0.047254,0.064951,0.156763,0.503859,NaN
203174,12346.0,LYB,53531.0,2821.0,325211.0,2010-10-21,2010-10-21,27.58,TR,5978571.76,...,NaN,24173870.0,216772.0,0.018088,0.032004,0.047208,0.064975,0.157027,0.383150,NaN
203175,12346.0,LYB,53531.0,2821.0,325211.0,2010-10-22,2010-10-22,27.54,TR,5969900.88,...,NaN,8143578.0,216772.0,-0.001450,0.032003,0.047197,0.064952,0.156966,-0.030729,NaN
203176,12346.0,LYB,53531.0,2821.0,325211.0,2010-10-25,2010-10-25,27.95,TR,6058777.40,...,NaN,17871230.0,216772.0,0.014887,0.032007,0.047208,0.064977,0.157138,0.315356,NaN
203177,12346.0,LYB,53531.0,2821.0,325211.0,2010-10-26,2010-10-26,27.73,TR,6011087.56,...,NaN,13787356.0,216772.0,-0.007871,0.032008,0.047201,0.064967,0.157163,-0.166760,NaN
203178,12346.0,LYB,53531.0,2821.0,325211.0,2010-10-27,2010-10-27,27.20,TR,5896198.40,...,NaN,2211360.0,216772.0,-0.019113,0.032003,0.047206,0.064978,0.156822,-0.404883,NaN
203179,12346.0,LYB,53531.0,2821.0,325211.0,2010-10-28,2010-10-28,27.50,TR,5961230.00,...,NaN,17250750.0,216772.0,0.011029,0.031998,0.047213,0.064993,0.156747,0.233608,NaN
203180,12346.0,LYB,53531.0,2821.0,325211.0,2010-10-29,2010-10-29,26.89,TR,5828999.08,...,NaN,9252849.0,216772.0,-0.022182,0.032000,0.047212,0.065004,0.156537,-0.469832,NaN
203181,12346.0,LYB,53531.0,2821.0,325211.0,2010-11-01,2010-11-01,25.95,TR,5625233.40,...,NaN,8584260.0,216772.0,-0.034957,0.031992,0.047255,0.065057,0.156277,-0.739761,NaN
203182,12346.0,LYB,53531.0,2821.0,325211.0,2010-11-02,2010-11-02,26.63,TR,5772638.36,...,NaN,30219724.0,216772.0,0.026204,0.032005,0.047289,0.065109,0.156479,0.554124,NaN
203183,12346.0,LYB,53531.0,2821.0,325211.0,2010-11-03,2010-11-03,26.98,TR,5848508.56,...,NaN,37048936.0,216772.0,0.013143,0.032008,0.047274,0.065128,0.156759,0.278020,NaN
203184,12346.0,LYB,53531.0,2821.0,325211.0,2010-11-04,2010-11-04,27.38,TR,5935217.36,...,NaN,53158270.0,216772.0,0.014826,0.032006,0.047283,0.065067,0.156883,0.313556,NaN
203185,12346.0,LYB,53531.0,2821.0,325211.0,2010-11-05,2010-11-05,28.34,TR,6143318.48,...,NaN,30148092.0,216772.0,0.035062,0.032030,0.047342,0.065145,0.157487,0.740608,NaN
203186,12346.0,LYB,53531.0,2821.0,325211.0,2010-11-08,2010-11-08,28.81,TR,6245201.32,...,NaN,32298891.0,216772.0,0.016584,0.032031,0.047357,0.065134,0.157627,0.350202,NaN
203187,12346.0,LYB,53531.0,2821.0,325211.0,2010-11-09,2010-11-09,28.47,TR,6171498.84,...,NaN,9921795.0,216772.0,-0.011801,0.032023,0.047338,0.065112,0.157551,-0.249300,NaN
203188,12346.0,LYB,53531.0,2821.0,325211.0,2010-11-10,2010-11-10,28.21,TR,6115138.12,...,NaN,18091073.0,216772.0,-0.009132,0.032016,0.047336,0.065106,0.157543,-0.192927,NaN
203189,12346.0,LYB,53531.0,2821.0,325211.0,2010-11-11,2010-11-11,28.31,TR,6136815.32,...,NaN,13891717.0,216772.0,0.003545,0.032012,0.047334,0.065109,0.157639,0.074889,NaN
203190,12346.0,LYB,53531.0,2821.0,325211.0,2010-11-12,2010-11-12,27.48,TR,5956894.56,...,NaN,15355824.0,216772.0,-0.029318,0.032024,0.047335,0.065138,0.019236,-0.619374,NaN
203191,12346.0,LYB,53531.0,2821.0,325211.0,2010-11-15,2010-11-15,27.60,TR,5982907.20,...,NaN,6786840.0,216772.0,0.004367,0.032021,0.047335,0.065142,0.018891,0.092253,NaN
203192,12346.0,LYB,53531.0,2821.0,325211.0,2010-11-16,2010-11-16,26.57,TR,5759632.04,...,NaN,18822188.0,216772.0,-0.037319,0.032036,0.047384,0.065203,0.020722,-0.787587,NaN
203193,12346.0,LYB,53531.0,2821.0,325211.0,2010-11-17,2010-11-17,27.11,TR,5876688.92,...,NaN,14877968.0,216772.0,0.020324,0.032045,0.047387,0.065176,0.021029,0.428887,NaN
203194,12346.0,LYB,53531.0,2821.0,325211.0,2010-11-18,2010-11-18,27.68,TR,6000248.96,...,NaN,11401392.0,216772.0,0.021025,0.032047,0.047407,0.065218,0.020889,0.443507,NaN
203195,12346.0,LYB,53531.0,2821.0,325211.0,2010-11-19,2010-11-19,28.74,TR,6230027.28,...,NaN,30981720.0,216772.0,0.038295,0.032063,0.047463,0.065322,0.022133,0.806827,NaN
203196,12346.0,LYB,53531.0,2821.0,325211.0,2010-11-22,2010-11-22,29.67,TR,6431625.24,...,NaN,36179598.0,216772.0,0.032359,0.032073,0.047509,0.065387,0.023064,0.681117,NaN
203197,12346.0,LYB,53531.0,2821.0,325211.0,2010-11-23,2010-11-23,28.93,TR,6271213.96,...,NaN,12382040.0,216772.0,-0.024941,0.032084,0.047530,0.065405,0.023735,-0.524744,NaN
203198,12346.0,LYB,53531.0,2821.0,325211.0,2010-11-24,2010-11-24,29.45,TR,6383935.40,...,NaN,11679870.0,216772.0,0.017974,0.032090,0.047543,0.065435,0.023872,0.378071,NaN
203199,12346.0,LYB,53531.0,2821.0,325211.0,2010-11-26,2010-11-26,29.34,TR,6360090.48,...,NaN,1804410.0,216772.0,-0.003735,0.032089,0.047529,0.065400,0.023386,-0.078587,NaN
203200,12346.0,LYB,53531.0,2821.0,325211.0,2010-11-29,2010-11-29,29.79,TR,6457637.88,...,NaN,16458975.0,216772.0,0.015337,0.032090,0.047541,0.065424,0.023471,0.322616,NaN
203201,12346.0,LYB,53531.0,2821.0,325211.0,2010-11-30,2010-11-30,29.24,TR,7716494.48,...,NaN,9093640.0,263902.0,-0.018463,0.032088,0.047551,0.065424,0.023276,-0.388268,NaN
203202,12346.0,LYB,53531.0,2821.0,325211.0,2010-12-01,2010-12-01,29.87,TR,7882752.74,...,NaN,24854827.0,263902.0,0.021546,0.032099,0.047570,0.065461,0.021731,0.452926,NaN
203203,12346.0,LYB,53531.0,2821.0,325211.0,2010-12-02,2010-12-02,30.41,TR,8025259.82,...,NaN,13717951.0,263902.0,0.018078,0.032089,0.047582,0.065487,0.021442,0.379942,NaN
203204,12346.0,LYB,53531.0,2821.0,325211.0,2010-12-03,2010-12-03,30.55,TR,8062206.10,...,NaN,11013275.0,263902.0,0.004604,0.032023,0.047563,0.065492,0.021391,0.096792,NaN
203205,12346.0,LYB,53531.0,2821.0,325211.0,2010-12-06,2010-12-06,31.06,TR,8196796.12,...,NaN,5128006.0,263902.0,0.016694,0.032014,0.047578,0.065517,0.021433,0.350875,NaN
203206,12346.0,NaN,53531.0,2821.0,325211.0,2010-12-07,2010-12-07,0.00,DA,NaN,...,NaN,NaN,NaN,-1.000000,0.048433,0.078834,0.110244,0.220212,-12.684951,NaN

this still to be fixed

# Other Price Indicators

In [19]:
prices.sort_values(["permno", "date"], inplace=True)
prices

,permno,ticker,permco,SICCD,NAICS,date,DlyCalDt,DlyPrc,DlyPrcFlg,DlyCap,...,return,vol_36mo,vol_252d,vol_126d,vol_21d,vol_adjusted_return,naics_processed,industry_return,industry_relative_return,str_paper_residuals
0,10078,SUNW,8021,3570,NaN,2000-01-03,2000-01-03,76.500,TR,1.194246e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10078,SUNW,8021,3570,NaN,2000-01-04,2000-01-04,71.750,TR,1.120094e+08,...,-0.062092,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,10078,SUNW,8021,3570,NaN,2000-01-05,2000-01-05,71.875,TR,1.122045e+08,...,0.001742,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,10078,SUNW,8021,3570,NaN,2000-01-06,2000-01-06,68.000,TR,1.061552e+08,...,-0.053913,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10078,SUNW,8021,3570,NaN,2000-01-07,2000-01-07,71.875,TR,1.122045e+08,...,0.056985,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3983884,93436,TSLA,53453,9999,336110.0,2023-12-22,2023-12-22,252.540,TR,8.028047e+08,...,-0.007701,0.044308,0.035495,0.030185,0.020859,-0.216973,33.0,0.002741,-0.219714,NaN
3983885,93436,TSLA,53453,9999,336110.0,2023-12-26,2023-12-26,256.610,TR,8.157429e+08,...,0.016116,0.044308,0.035025,0.030031,0.021031,0.460136,33.0,0.312875,0.147261,NaN
3983886,93436,TSLA,53453,9999,336110.0,2023-12-27,2023-12-27,261.440,TR,8.310971e+08,...,0.018822,0.044313,0.035013,0.030002,0.021262,0.537581,33.0,0.104966,0.432614,NaN
3983887,93436,TSLA,53453,9999,336110.0,2023-12-28,2023-12-28,253.180,TR,8.048392e+08,...,-0.031594,0.044319,0.034286,0.030136,0.020625,-0.921481,33.0,-0.000643,-0.920838,NaN
3983888,93436,TSLA,53453,9999,336110.0,2023-12-29,2023-12-29,248.480,TR,7.898983e+08,...,-0.018564,0.044324,0.034266,0.030147,0.020932,-0.541761,33.0,-0.220328,-0.321434,NaN

In [20]:
def calculate_MACD(data: pd.DataFrame, price_col: str):
    # Calculate the 12-period EMA
    data["EMA12"] = data[price_col].ewm(span=12, adjust=False).mean()

    # Calculate the 26-period EMA
    data["EMA26"] = data[price_col].ewm(span=26, adjust=False).mean()

    # Calculate MACD (the difference between 12-period EMA and 26-period EMA)
    data["MACD"] = data["EMA12"] - data["EMA26"]

    # Calculate the 9-period EMA of MACD (Signal Line)
    data["MACD_index"] = data["MACD"].ewm(span=9, adjust=False).mean()
    # data.loc[data['MACD'].isna(), 'MACD_index'] = np.nan

    mask = data["permno"] != data["permno"].shift(1)
    data.loc[mask, ["MACD", "MACD_index"]] = np.nan

    data.drop(["EMA12", "EMA26", "MACD"], axis=1, inplace=True)


calculate_MACD(prices, "DlyPrc")

In [21]:
prices

,permno,ticker,permco,SICCD,NAICS,date,DlyCalDt,DlyPrc,DlyPrcFlg,DlyCap,...,vol_36mo,vol_252d,vol_126d,vol_21d,vol_adjusted_return,naics_processed,industry_return,industry_relative_return,str_paper_residuals,MACD_index
0,10078,SUNW,8021,3570,NaN,2000-01-03,2000-01-03,76.500,TR,1.194246e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,10078,SUNW,8021,3570,NaN,2000-01-04,2000-01-04,71.750,TR,1.120094e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.075783
2,10078,SUNW,8021,3570,NaN,2000-01-05,2000-01-05,71.875,TR,1.122045e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.192927
3,10078,SUNW,8021,3570,NaN,2000-01-06,2000-01-06,68.000,TR,1.061552e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.391237
4,10078,SUNW,8021,3570,NaN,2000-01-07,2000-01-07,71.875,TR,1.122045e+08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.567309
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3983884,93436,TSLA,53453,9999,336110.0,2023-12-22,2023-12-22,252.540,TR,8.028047e+08,...,0.044308,0.035495,0.030185,0.020859,-0.216973,33.0,0.002741,-0.219714,NaN,4.421231
3983885,93436,TSLA,53453,9999,336110.0,2023-12-26,2023-12-26,256.610,TR,8.157429e+08,...,0.044308,0.035025,0.030031,0.021031,0.460136,33.0,0.312875,0.147261,NaN,4.636163
3983886,93436,TSLA,53453,9999,336110.0,2023-12-27,2023-12-27,261.440,TR,8.310971e+08,...,0.044313,0.035013,0.030002,0.021262,0.537581,33.0,0.104966,0.432614,NaN,4.915273
3983887,93436,TSLA,53453,9999,336110.0,2023-12-28,2023-12-28,253.180,TR,8.048392e+08,...,0.044319,0.034286,0.030136,0.020625,-0.921481,33.0,-0.000643,-0.920838,NaN,5.076990
3983888,93436,TSLA,53453,9999,336110.0,2023-12-29,2023-12-29,248.480,TR,7.898983e+08,...,0.044324,0.034266,0.030147,0.020932,-0.541761,33.0,-0.220328,-0.321434,NaN,5.070093

In [28]:
# RSI Index


def calculate_RSI(data: pd.DataFrame, price_col: str, window: int):
    change = data[price_col].diff()

    change_up, change_down = change.copy(), change.copy()

    change_up[change_up < 0] = 0
    change_down[change_down > 0] = 0

    # check we did not make mistakes
    assert change.equals(change_up + change_down)

    # calculate EWMAs
    avg_up = change_up.ewm(span=window, adjust=False).mean()
    avg_down = change_down.ewm(span=window, adjust=False).mean().abs()

    # calculate RSI
    rsi = 100 * avg_up / (avg_up + avg_down)
    data["rsi"] = rsi

    mask = data["permno"] != data["permno"].shift(1)
    data.loc[mask, "rsi"] = np.nan

In [29]:
calculate_RSI(prices, "DlyPrc", 14)